.env
*.egg-info
*.pot
*.py[co]
.tox/
.DS_Store
__pycache__
MANIFEST
build/
dist/
docs/_build/
docs/locale/
ml_model/ml_model.npy
node_modules/
staticfiles
tests/coverage_html/
tests/.coverage
tests/report/
